
ErrorDocument 404 ./Error.php?code=404
ErrorDocument 400 ./Error.php?code=400
ErrorDocument 500 ./Error.php?code=500
ErrorDocument 403 ./Error.php?code=403

RewriteEngine on 
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

